/* STANDARD CLASSES ************************************/
body.ebook{background:#dddddd;font-family:Arial,Verdana,sans-serif;height:100%;margin:0px;overflow:hidden;padding:0px;width:100%;}
body.ebook a{color:#555555;text-decoration:none;}
body.ebook a:hover{color:#333333;text-decoration:underline;}
body.ebook a:active{outline:0;}
body.ebook a:focus{outline:0;}


/* HEADER CLASSES ************************************/
body.ebook div.head-organisation{background:none;height:1px;overflow:hidden;}


/* ERRORS ************************************/
body.ebook div.box-error{background:url(default/error.png) no-repeat #ffffff 15px 15px;border:1px solid #aaaaaa;margin:20px auto;width:550px;}
body.ebook div.box-error h4{font-size:20px;margin:18px 20px 15px 60px;}
body.ebook div.box-error div.text{font-size:13px;margin:0px 20px 20px 62px;}
body.ebook div.box-error div.text strong{clear:left;}


/* DEFAULT BUTTON CLASSES ************************************/
a.btn-browse-ebook{background:url(default/fr/btn-browse.png) no-repeat top left;display:block;height:27px;width:130px;text-indent:-9999px;}
a:hover.btn-browse-ebook{background-position:left bottom;}


/* RESELLER LIST THEME ************************************/
div#wrapper-resellers{margin:30px;}
div#wrapper-resellers h3{font-size:130%;}
div#wrapper-resellers ul{margin:15px;}
div#wrapper-resellers li{margin-bottom:5px;}
div#wrapper-resellers a.external{padding-right:14px;}
